{% extends not is_ajax ? "@templates/backend/default.twig" : "@templates/ajax.twig" %}

{% block content %}
<div class="container-fluid dw-shell-view">
    <div class="dw-overflow">        
    </div>    
</div>
{% endblock content %}