<div class="navbar navbar-fixed-top user-nav">
    <div class="navbar-inner">
        <div class="container">
            {{ html_link('dashboard', '<i class="icon-globe icon-expand"></i>' ~ constant('APP_NAME'), {class:'brand'}, '', false) }}
            <div class="pull-right">

            </div>
        </div>
    </div>
</div>